          *{
                margin: 0;
                padding: 0;
            }
            
            /* Page settings */
            html {
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
                overflow-x: hidden;
                overflow-y: hidden;
            }
            body {
                text-align:center;
                display:table;
                background: black;
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: hidden;
                align-items: center;
            }
            canvas {
            display:block;
            }
            #main {
                position: absolute;
                bottom: 150px;
                left: 660px;            // bottom e left sono le parti che ho modificato per spostare momentaneamente la homepage e farla 
                                                         sembrare centrata
                z-index : 1;
                vertical-align: middle;
            }